{{#get "pages" limit="1" filter="tag:companies"}}
{{#foreach pages}}
<div class="gh-title title">{{ title }}</div>

{{/foreach}}
{{/get}}
<figure class="company-list">
  {{#get "posts" filter="tags:companies" limit=limit }}

  {{#foreach posts}}
  {{#if feature_image}}
  {{#if title }}
  <a href="{{ title }}">
    <img class="company-image" src="{{ feature_image }}" alt="{{ title }}" />
  </a>
  {{else}}
  <img class="company-image" src="{{ feature_image }}" alt="{{ title }}" />
  {{/if}}

  {{#if feature_image_caption}}
  <figcaption>{{ feature_image_caption }}</figcaption>

  {{/if}}
  {{/if}}
  {{/foreach}}
  {{/get}}
</figure>
