<html lang="{{@site.locale}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{asset 'built/index.css'}}" />
    <script src="{{asset 'built/index.js'}}" defer></script>
    <link rel="icon" type="image/x-icon" href="assets/favicon.PNG" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    
    <title>{{ meta_title }}</title>

      
   
    {{
      ghost_head
    }}
     <style>
        :root {
            --color-description: {{@custom.kolor_tla_opisu_strony}};
            --color-description-text: {{@custom.kolor_tekstu_opisu_strony}};
        }
      </style>
  </head>

  <body class="{{ body_class }} body">
    <div class="page-view">
      
      <header class="header">
        <div class="header-navigation">
          <div class="logo-burger-button-container">
            <div class="logo">
              <a class="logo" href="{{@site.url}}">
                {{#if @site.logo}}
                <img class="logo" src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                {{@site.title}}
                {{/if}}
              </a>
            </div>
            <a class="burger-button" role="button" aria-label="menu">
              <div class="burger-box">
                <div class="burger-inner"></div>
              </div>
            </a>
          </div>

          <div class="head-menu navigation-menu">
            <div class="burger-container header-element">
              {{ navigation }}
            </div>
          </div>
        </div>
        {{#is "projekty, kontakt"}}
      {{!-- bez covera--}}
      {{else}}
        
        <div class="cover-container ">
          <img src={{@site.cover_image}} alt="site-cover" class="site-cover" />
           {{#get "pages" limit="1" filter="tag:site-description"}}
              {{#foreach pages}}
              <div class="site-description {{@custom.ulozenie_napisu}}">
               <div class="site-description-title">{{title}}</div>
               <div>{{content}}</div>
              </div>
              
               {{/foreach}}
            {{/get}}
        </div>
        {{/is}}
      </header>
      

      <main class="main">{{{body}}}</main>
      {{#is "kontakt"}}
      <!-- Nie wyświetlaj stopki -->
      {{else}}
      <footer class="footer" id="footer">
        <div class="footer-container">
          <div class="footer-contact-container">
            {{> contact-block underlineState=""}}
          </div>
          {{#if @custom.biale_logo}}<img src="{{@custom.biale_logo}}" class="logo" />
          {{/if}}
        </div>

        <div class="ghost-meta">
          Stworzone z pomocą
          <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>
      </footer>
      {{/is}}
    </div>

    {{ ghost_foot }}
  </body>
</html>
