{{!< default}}
<main class="main-content">
  <div class="erorr-container">
    <h1 class="status-code">{{ statusCode }}</h1>
    <p class="error-message">{{ message }}</p>
    <p class="error-message"><a href="{{@site.url}}">Go to the front page →</a></p>

    {{#if errorDetails}}
    <section>
      <h4>Theme errors:</h4>
      <ul >
        {{#foreach errorDetails}}
        <li>
          <h5 >{{{section}}}</h5>

          {{#foreach failures}}
          <span ><strong>Ref:</strong> {{ ref  }}</span
          ><br />
          <span ><strong>Message:</strong> {{ message }}</span>
          {{/foreach}}
        </li>
        {{/foreach}}
      </ul>
    </section>
    {{/if}}
  </div>
</main>
