{{!< default}}

<div class="main-content" id="projects">
  <div class="container-column container-centered">
    {{#get "pages" limit="1" filter="tag:projects"}}
    {{#foreach pages}}
    <div class="title">
      {{ title }}
    </div>

    {{/foreach}}
    {{/get}}

    <div class="projects-container">
      {{#get "posts" filter="tags:projects"}}
      {{#foreach posts}}
      {{#if feature_image}}
      <div class="photo-container">
        <figure class="project-container">
          <img src="{{ feature_image }}" alt="{{ title }}" class="project-image" />
          <figcaption class="project-content">
            <div class="title-small">{{ title }}</div>
            <div>{{ content }}</div>
          </figcaption>
        </figure>
      </div>

      {{/if}}
      {{/foreach}}
      {{/get}}
    </div>
  </div>

  {{#get "pages" limit="1" filter="tag:companies"}}
  {{#foreach pages}}
  <div class="container container-column container-centered">
    <div class="container-column companies-container">
      <div class="title">{{ title }}</div>

      {{/foreach}}
      {{/get}}
      {{> companies limit=1000}}
      <a class="button align-end" href="/kontakt/#contact">Skontaktuj sie z nami</a>
    </div>
  </div>
</div>
